body {
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;

	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

.centering-wrap {
	position: relative;
	color: #000;

	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}
	.main-header {
		position: relative;
		width: 100%;
		min-height: 565px;
		margin-bottom: 60px; 
		background-image: url("../img/background-photo.jpg");
	}
		.main-header::after {
			position: absolute;
			bottom: 0;
			content: "";
			width: 100%;
			height: 57px;
			background-image: url("../img/decor-line.png");
		}
		.header-logo {
			width: 138px;
			height: auto;
			position: absolute;
			left: 50%;
			margin-left: -69px;
		}
		.site-nav {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			min-height: 56px;
			margin: 0;
			padding: 0;
			padding: 0 73px;
			background-color: #fff;
			list-style: none;
		}
			.site-nav li {
				flex-shrink: 0;
			}
				.site-nav li:last-child {
					margin-right: 0; 
				}
				.site-nav .cap {
					width: 70px;
				}
				.site-nav .nav-item {
					font-family: "PT Sans", sans-serif;
					font-size: 14px;
					line-height: 26px;
					font-weight: 700;
					color: #000;
					text-decoration: none;
				}
				.site-nav .nav-item:hover,
				.site-nav .nav-item:focus {
					color: #81b3d2;
				}
				.site-nav .nav-item:active {
					color: rgba(0, 0, 0, 0.3);
				}
				.site-nav .nav-item.current-nav-item {
					color: #766357;
				}


	.info {
		font-family: "PT Sans", sans-serif;
		font-size: 21px;
		line-height: 26px;
		font-weight: 700;
		text-align: center;

		width: 450px;
		margin: 0 auto;
		margin-bottom: 26px;
	}
		.features-title {
			font-size: 14px;
			line-height: 26px;
			font-weight: 400;
			text-align: center;

			width: 500px;
			margin: 0 auto;
			margin-bottom: 50px;
		}
		.features-list {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			margin: 0;
			padding: 0;
		    margin-bottom: 50px;
		}
			.features-item {
				display: flex;
				flex-shrink: 0;
				align-items: center;
			}
				.features-item .text-block {
					width: 400px;
					min-height: 256px;
					padding: 47px 27px;
					text-align: center;
					box-sizing: border-box;
    				background-color: #eeeeee;
				}
				.features-item .feature-title {
					font-size: 21px;
					line-height: 21px;
					font-weight: 700;

					width: 151px;
					margin: 0 auto;
				    margin-bottom: 25px;
				}
				.features-item .feature-number {
					font-size: 14px;
					line-height: 21px;
					font-weight: 400;
				}
				.features-item .feature-description {
					font-size: 14px;
					line-height: 21px;
					font-weight: 400; 

					margin: 0;
    				margin-top: 20px;
    				padding: 0 30px;
				}
			.item-with-img {
				flex-wrap: wrap;
				width: 100%;
			}
				.item-with-img .text-block {
					color: #fff;
					background-color: #81b3d2;
				}
				.item-with-img .feature-description {
					padding: 0;
    				padding: 0 20px;
				}
				.item-with-img .img-block {
					width: 800px;
					height: 256px;
				}

			.about-city .details-list {
				display: flex;
				min-height: 331px;
				padding: 0;
				margin: 0;
				list-style: none;
			}
				.details-list-item {
					position: relative;
					text-align: center;

					width: 400px;
					padding: 45px;
					padding-top: 162px;
					box-sizing: border-box;
				}
				.details-list-item h3 {
					font-size: 21px;
					line-height: 21px;
					font-weight: 700;
					
					margin: 0;
					margin-bottom: 24px;
				}
				.details-list-item .details-description {
					font-size: 14px;
					line-height: 21px;
					font-weight: 400;
				}
					.details-list-item.apartments::before {
						position: absolute;
						top: 60px;
						left: 50%;
						content: "";
						
						width: 75px;
						height: 72px;
						margin-left: -37px;
						background-image: url("../img/apartments-icon.svg");
						background-repeat: no-repeat;
					}
					.details-list-item.food::before {
						position: absolute;
						top: 62px;
						left: 50%;
						content: "";
						
						width: 74px;
						height: 70px;
						margin-left: -37px;
						background-image: url("../img/food-icon.svg");
						background-repeat: no-repeat;
					}
					.details-list-item.souvenirs::before {
						position: absolute;
						top: 56px;
						left: 50%;
						content: "";
						
						width: 64px;
						height: 76px;
						margin-left: -32px;
						background-image: url("../img/souvenirs-icon.svg");
						background-repeat: no-repeat;
					}
